@model List<MyNetflixApp.Models.Movie>

@{
    ViewData["Title"] = "Movies and series";

}

    <div class="text-center">
        <h1 class="display-4">Movies and series</h1>
        @*<p>Our movie selection:</p>*@
        <p>Our awesome movie selection:</p>
        @foreach (var movie in Model)
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => movie.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => movie.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => movie.ReleaseDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => movie.ReleaseDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(modelItem => movie.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => movie.Category)
                </dd>
            </dl>
        }
    </div>
